* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blueviolet;
    color: white;
}

.mosquito {
    width: 35px;
}

.mosquito2 {
    width: 50px;
}

.mosquito3 {
    width: 65px;
}

.ladoa {
    transform: scaleX(1);
}

.ladob{
    transform: scaleX(-1);
}