html {
  cursor: url('assets/imagens/mata_mosca.png') 30 30, auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('assets/imagens/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.mosquito {
  width: 35px;
}

.mosquito2 {
  width: 50px;
}

.mosquito3 {
  width: 65px;
}

.ladoa {
  transform: scaleX(1);
}

.ladob {
  transform: scaleX(-1);
}

.painel {
    background-color: #fff;
    position: absolute;
    width: 190px;
    padding: 10px;
    bottom: 0px;
    opacity: 0.6;
}

.vidas {
    float: left;
}

.cronometro {
    float: left;
    font-size: 20px;
    font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  margin-top: 50px;
  color: white;
  font-weight: 900;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 250px;
  height: 40px;
  border-radius: 7px;
  border: none;
  background-color: blueviolet;  
}

button:hover {
  background-color: #fff;
  color: blueviolet;
}

button a {
  padding: 12px 55px;
  color: white;
  font-weight: 600;
  text-decoration: none;
}

button a:hover {
  color: blueviolet;
}

#buttone {
  color: white;
}

#buttone:hover {
  color: blueviolet;
}

select {
  width: 250px;

  margin-bottom: 10px;
}

#starte {
  margin-top: 10px;
}
